<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chattomate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chattomate">

        <activity android:name=".account.ChangePasswordActivity"
            android:exported="true" />
        <activity android:name=".account.SetupProfileActivity"
            android:exported="true" />
        <activity android:name=".account.RegisterActivity"
            android:exported="true" />
        <activity android:name=".account.LoginActivity"
            android:exported="true" />
        <activity android:name=".MainActivity"
            android:exported="true" />

        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>